<header>
    <a href="">
      <div class="logo">
      </div>
    </a>
    <nav>
      <ul>
        <li>
          <a routerLink="/galeria">Proyectos</a>
        </li>
        <li class="sep">|</li>
        <li *ngIf="session">
          <a routerLink="/catalog">Catálogo</a>
        </li>
        <li *ngIf="session" class="sep">|</li>
        <li *ngIf="session">
          <select>
            <option value="" disabled selected>Razas</option>
            <option value="beagle">Material</option>
            <option value="cocker">Carros</option>
            <option value="shiba">Equipo</option>
            <option value="other">Herramientas</option>
            <option value="cat">Fotos</option>
          </select>
        </li>
        <li *ngIf="session" class="sep">|</li>
        <li *ngIf="!session">
          <a routerLink="/register">Registrarse</a>
        </li>
        <li *ngIf="!session" class="sep">|</li>
        <li>
          <a routerLink="/contact">Contáctanos</a>
        </li>
      </ul>
    </nav>
    <div (click)="changeTheme()" class="theme"></div>
    <button *ngIf="!session" type="submit" routerLink="/login">LOGIN</button>
    <button *ngIf="session" class="logout" type="submit" (click)="logout()">Cerrar Sesión</button>
  
    <div (click)="toggleMenu()" [ngClass]="{ 'abierto': isBurgerOpen}" class="burger">
      <div class="barra superior"></div>
      <div class="barra media"></div>
      <div class="barra inferior"></div>
    </div>
  </header>
  
  <menu [ngClass]="{ 'abierto': isMenuOpen }">
    <nav>
      <button *ngIf="!session" type="submit" routerLink="/login" (click)="toggleMenu()">LOGIN</button>
      <button *ngIf="session" class="logout" type="submit">Cerrar Sesión</button>
      <hr>
      <a class="nav-link" routerLink="/galeria" (click)="toggleMenu()">Galeria</a>
      <hr>
      <a class="nav-link" *ngIf="session" routerLink="/catalog" (click)="toggleMenu()">Catalogo</a>
      <hr *ngIf="session">
      <select *ngIf="session">
        <option value="" disabled selected>Razas</option>
        <option value="beagle">Beagle</option>
        <option value="cocker">Cocker Spaniel</option>
        <option value="shiba">Shiba Inu</option>
        <option value="other">Other</option>
        <option value="cat">Cats</option>
      </select>
      <hr *ngIf="session">
      <a *ngIf="!session" class="nav-link" routerLink="/register" (click)="toggleMenu()">Registrarse</a>
      <hr *ngIf="!session">
      <a class="nav-link" routerLink="/contact" (click)="toggleMenu()">Contáctanos</a>
      <hr>
    </nav>
  </menu>
  
